{% extends 'base.html' %}


{% block content %}
<table class='table'>
	<thead><th></th><th>Item</th><th>Description</th><th>Image</th></thead>
	{% for product in products%}
		<tr><td>{{ forloop.counter }}</td><td><a href="{% if product.slug %} {{product.slug}} {% endif %}">{{product}}</a></td>
		<td>  
		{% if product.description %}
		{{product.description}}
		{% else %}
		<p>No Description Available</p>
		{% endif %}
		</td>
		<td>
		{% if product.image1 %}
		<img src="/media/{{product.image1}} " style='max-width:200px;max-height:200px;'>
		{% endif %}
		</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}